/* Шрифты */
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Montserrat"), local("Montserrat"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Montserrat"), local("Montserrat"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Montserrat"), local("Montserrat"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Exo";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Exo"), local("Exo"),
    url("../fonts/Exo2-Medium.woff2") format("woff2"),
    url("../fonts/Exo2-Medium.woff") format("woff");
}

@font-face {
    font-family: "Exo";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Exo"), local("Exo"),
    url("../fonts/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2-Bold.woff") format("woff");
}

/* Глобальные стили */
html,
body {
    margin: 0;
    padding: 0;

    min-width: 320px;
    max-width: 1920px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    background-color: #FFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 10;
}

/* Стили вёрстки */

/* Общие стили */
.section__title {
    margin-bottom: 66px;
    font-family: "Exo", sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #f4592f;
}

.section__title span {
    color: #0050f5;
}

.section__title--light {
    color: #FFFFFF;
}

.section__title--light span {
    color: #f4592f;
}
/* Header */
.header {
    position: relative;
    padding: 75px 0 110px;
    height: 100vh;
    background-color: #f4592f;
    background-image: url('../img/header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1472px;
    padding: 0 50px;
    margin: 0 auto;
}

.header__wrapper {
    width: 100%;
    max-width: 693px;
    z-index: 1;
}

.header__picture {
    display: block;
    width: 690px;
    z-index: 0;
}

.header__picture img {
    margin-top: -40px;
}

.header__clouds {
    display: none;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 0;
    animation: fly 60s infinite linear;
}

.superman {
    display: none;
    z-index: 2;
}

.header__logo {
    margin-bottom: 70px;
}

.header__title {
    width: 848px;
    padding-bottom: 35px;
    font-family: "Exo", sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__title span {
    color: #0050f5;
}

.header__description {
    margin-bottom: 70px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.header__link {
    position: relative;
    display: inline-block;
    width: 265px;
    padding: 25px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0050f5;
    border: none;
    background-color: #FFFFFF;
    border-radius: 50px;
    transition: color 0.2s linear
}

.header__link::after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: 30%;
    right: 0;
    width: 108px;
    height: 3px;
    background-color: #0050f5;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.header__link--blue::after {
    left: 26%;
    width: 130px;
    background-color: #FFF;
}

.header__link:hover::after {
    transform: scaleX(1);
}

.header__link--blue {
    margin-right: 10px;
    background-color: #0050f5;
    color: #FFFFFF;
}

.header__control {
    display: inline-block;
    background: rgb(0, 80, 245);
    background: linear-gradient(114deg, rgba(0, 80, 245, 1) 50%, rgba(255, 255, 255, 1) 50%);
    border-radius: 50px;
    box-shadow: 0 20px 40px 0 rgba(99, 107, 160, 0.3);
}

/* About */
.about__wrapper {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
  }
  .about__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }
  .about__left,
  .about__right {
    width: 410px;
    display: flex;
    flex-direction: column;
  }
  
  .about__left .about__item:not(:last-child),
  .about__right .about__item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .about__item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .about__item:hover {
    transform: scale(1.05);
  }

  .about__item:hover .about__text {
    background: #fff;
    box-shadow: 0 0 22px #e4e6ee
  }
  
  .about__block:nth-child(1) .about__item,
  .about__block:nth-child(3) .about__item {
    max-width: 500px;
  }
  
  .about__image {
    margin: 0 auto;
    width: 264px;
    height: 264px;
  }
  
  .about__text {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 460px;
    height: 140px;
    font-size: 20px;
    font-weight: 700;
    color: #1c2273;
    border-radius: 20px;
    background-color: #f6f8fe;
  }
  
  .about__item--left {
    display: flex;
    justify-content: flex-start;
  }
  
  .about__item--right {
    display: flex;
    justify-content: flex-end;
  }
  
  .about__item--left .about__text {
    padding: 10px 68px 10px 28px;
  }
  
  .about__item--right .about__text {
    padding: 10px 28px 10px 68px;
  }
  
  .about__block--center .about__text {
    max-width: 375px;
  }
  
  .cirlce {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #fff;
    background-image: url('../img/icons/accept.png');
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 20px 40px 0 rgba(99, 107, 160, 0.3);
    z-index: 9;
  }
  
  .about__item--left .cirlce {
    margin-left: -40px;
  }
  
  .about__item--right .cirlce {
    margin-right: -40px;
  }

/* Features */
.features {
    padding: 85px 0 122px;
    background-color: #0050f5;
    background-image: url('../img/verctor-1.png'), url("../img/vector-2.png");
    background-repeat: no-repeat;
    background-position: top 160px right 315px, bottom 40px left 204px;
    overflow: hidden;
}

.features__text {
    margin-bottom: 35px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 30px;
}

.features__element {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 160px;
}

.features__element:last-child {
    align-items: flex-end;
    margin-bottom: 0;
}

.features__item {
    position: relative;
    margin-bottom: 25px;
    padding-left: 35px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.features__item:last-child {
    margin-bottom: 0;
}

.features__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #f4592f;
    transform: translateY(-50%);
}

.features__list--pretty {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.features__list--pretty .features__item {
    margin-bottom: 40px;
    padding-left: 97px;
    line-height: 31px;
}

.features__list--pretty .features__item:last-child {
    margin-bottom: 0;
}

.features__list--pretty .features__item::before {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    left: 0;
    width: 68px;
    height: 68px;
    font-family: 'Exo', sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: #f4592f;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(99, 107, 160, 0.3);
}

.features__list--pretty .features__item:nth-child(1)::before {
    content: '1';
}

.features__list--pretty .features__item:nth-child(2)::before {
    content: '2';
}

.features__list--pretty .features__item:nth-child(3)::before {
    content: '3';
}

.features__list--pretty .features__item:nth-child(4)::before {
    content: '4';
}

.features__list--pretty .features__item:nth-child(5)::before {
    content: '5';
}

.features__title {
    font-family: 'Exo', sans-serif;
    margin-bottom: 65px;
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.features__title span {
    color: #f4592f;
}

/* Plan */
.plan {
    display: flex;
    flex-direction: column;
}

.plan__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan__element {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
    padding: 63px 20px 15px;
    min-width: 263px;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #fff;
    background-image: url('../img/plan-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    box-shadow: 0 20px 40px 0 rgba(99, 107, 160, 0.3);
    transition: transform 0.2s linear;
    cursor: pointer;
}

.plan__element:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px 0 rgba(99, 107, 160, 0.5);
}

.plan__element:last-child {
    margin-right: 0;
}

.plan__lead {
    margin-bottom: 40px;
    font-family: 'Exo', sans-serif;
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0050f5;
}

.plan__price {
    margin-bottom: 70px;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f4592f;
}

/* Company */
.company {
    padding-top: 90px;
}

.company__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.company__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
}

/* Main-form */
.main-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
    padding: 76px 80px 70px 60px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #f4592f;
    background-image: url('../img/form-bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    box-shadow: 0 20px 40px 0 rgba(99, 107, 160, 0.3);
}

.form__title {
    margin-bottom: 50px;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

.form__title span {
    color: #0050f5;
}

.form__input {
    display: block;
    width: 490px;
    margin-bottom: 25px;
    padding: 25px 40px;
    font-size: 20px;
    font-weight: 400;
    color: #1c2273;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
    transition: border 0.2s linear;
    z-index: 10;
}

.form__input:focus,
.form__input:hover {
    border-color: #0050f5;
}

.form__input::placeholder {
    color: #1c2273;
}

.form__btn {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 23px;
    width: 100%;
    max-width: 360px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #0050f5;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 20px 40px 0 rgba(99, 107, 160, 0.3);
    transition: color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
    z-index: 10;
}

.form__btn::after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: 35%;
    right: 0;
    width: 109px;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.form__btn:hover::after {
    transform: scaleX(1);
}

.form__btn:active {
    background-color: #0e5fff;
    box-shadow: 0 0 0 0 transparent;
}

.form__about {
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #0050f5;
}

.form__icon {
    position: absolute;
    bottom: 28px;
    right: 95px;
    z-index: 0;
}

/* Contacts */

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    height: 145px;
    border-radius: 20px;
    background-color: #f6f8fe;
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: #1c2273;
    transition: color 0.2s linear;
}

.contacts__link--first,
.contacts__link--last {
    text-decoration: underline;
}

.contacts__icon {
    margin-right: 10px;
    fill-rule: evenodd;
}

.contacts__link:hover {
    color: #f4592f;
}

.contacts__link:hover .contacts__icon {
    fill: #f4592f;
}


/* Footer */
.footer {
    padding: 48px 0;
    flex-wrap: wrap;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 20px;
    font-weight: 400;
    color: #1c2273;
}

/* Social */
.social {
    display: flex;
}

.social__item {
    margin-right: 15px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    border: 2px solid #0050f5;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.2s linear;
}

.icon {
    fill: #0050f5;
    transition: fill 0.2s linear;
}

.social__link:hover {
    background-color: #0050f5;
}

.social__link:hover .icon {
    fill: #FFFFFF;
}

/* Анимации */

@keyframes fly {
    from {
        left: -20px;
    }
    to {
        left: 1920px;
    }
}

/* Media запросы (Адаптив) */
@media (max-width: 1200px) {
    .header {
        padding: 50px 0 80px;
        height: auto;
    }
    .header__wrapper {
        max-width: 585px;
    }
    .header__picture img {
        margin-top: -20px;
        max-width: 500px;
    }
    .header__title {
        font-size: 80px;
    }
    .header__description {
        margin-bottom: 50px;
    }
    .header__clouds {
        width: 800px;
    }
    .superman {
        width: 500px;
        top: 0;
        right: -60px;
    }
    .header__logo {
        margin-bottom: 40px;
    }
    .section__title {
        font-size: 58px;
    }
    .about__wrapper {
        padding: 50px 0;
    }
    .features__info {
        max-width: 470px;
    }
    .features__text br {
        display: none;
    }
    .features__image {
        max-width: 430px;
    }
    .features {
        background-size: 600px, 1100px;
        background-position: top 160px right 120px, bottom 40px left 30px;
    }
    .features__list--pretty {
        max-width: 500px;
    }
    .features__list--pretty .features__item br {
        display: none;
    }
    .features__list--pretty .features__item {
        padding-left: 75px;
    }
    .features__title {
        margin-bottom: 45px;
        font-size: 40px;
    }
    .features__element:last-child {
        align-items: flex-start;
    }
    .plan__element {
        padding-top: 43px;
        min-width: 180px;
    }
    .plan__lead {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .plan__price {
        margin-bottom: 30px;
        font-size: 32px;
    }
    .main-form {
        padding: 50px;
    }
    .form__title {
        margin-bottom: 40px;
        font-size: 40px;
    }
    .form__input {
        width: 400px;
    }
    .form__icon {
        width: 370px;
    }
}
@media (max-width: 1024px) {
    .header__wrapper {
        max-width: 480px;
    }
    .header__picture img {
        margin-top: 0;
        max-width: 450px;
    }
    .header__link {
        width: 232px;
    }
    .header__title {
        font-size: 70px;
    }
    .header__logo {
        width: 300px;
    }
    .superman {
        width: 400px;
        top: 35px;
        right: 0;
        z-index: -1;
    }
    .section__title {
        font-size: 50px;
    }
    .about__item {
        word-break: break-all;
    }
    .features__title {
        text-align: center;
    }
    .plan {
        margin-bottom: 50px;
        width: 100%;
    }
    .plan__wrapper {
        justify-content: center;
    }
    .plan__element {
        min-width: 263px;
    }
    .plan__lead {
        font-size: 31px;
    }
    .plan__price {
        font-size: 50px;
    }
    .features__list--pretty {
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
    .features__list--pretty .features__item {
        padding-left: 90px;
        max-width: 49%;
    }
    .form__about br {
        display: none;
    }
    .company {
        padding-top: 70px;
    }
    .contacts {
        height: auto;
    }
    .contacts__item:not(:nth-child(4)) {
        margin-bottom: 30px;
    }
    .contacts__item br {
        display: none;
    }
}
@media (max-width: 1000px) {
    .features {
        background-position: top 34% right 40%, bottom 40px left 30px;
    }
    .features__info {
        max-width: 100%;
    }
    .features__element {
        margin-bottom: 80px;
    }
    .features__image {
        margin: 40px auto 0;
    }
    .features__list--pretty .features__item {
        margin-bottom: 60px;
    }
}
@media (max-width: 870px) {
    .about__block--center {
        flex-direction: column;
      }
      .about__block--center .about__left,
      .about__block--center .about__right {
        flex-direction: row;
        width: 100%;
      }
      .about__block--center .about__left .about__item:nth-child(1) {
        margin-bottom: 0;
      }
      .about__block--center .about__left .about__item:nth-child(2) .about__text {
        padding: 10px 28px 10px 68px;
        order: 2;
      }
      .about__block--center .about__left .about__item:nth-child(2) .cirlce {
        order: 1;
        margin-right: -40px;
        margin-left: 0;
      }
      .about__block--center .about__right .about__item:nth-child(1) {
        margin-bottom: 0;
      }
      .about__block--center .about__right .about__item:nth-child(1) .about__text {
        padding: 10px 68px 10px 28px;
        order: 1;
      }
      .about__block--center .about__right .about__item:nth-child(1) .cirlce {
        order: 2;
        margin-left: -40px;
        margin-right: 0;
      }
      .about__text {
          font-size: 18px;
      }
    .form__input {
        width: 100%;
    }
    .form__icon {
        position: static;
        margin: 40px auto 0;
        width: 70%;
    }
    .contacts__item {
        margin-bottom: 30px;
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    .header {
        background-position: bottom;
    }
    .header__wrapper {
        max-width: 100%;
    }
    .header__picture {
        display: none;
    }
    .header__title {
        width: auto;
    }
    .header__logo {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .header__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .superman {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .features__list--pretty .features__item {
        max-width: 100%;
    }
}
@media (max-width: 700px) {
    .contacts {
        flex-direction: column;
    }
    .contacts__item {
        margin-bottom: 30px;
    }
}
@media (min-width: 660px) {
    .about__item--left,
    .about__block--center .about__right .about__item:nth-child(1) {
        margin-right: 10px;
    }
    .about__item--left:nth-child(2) {
        margin-right: 0;
    }
}
@media (max-width: 660px) {
    .container {
        padding: 0 25px;
    }
    .header {
        padding: 50px 0;
    }
    .header__link {
        width: 350px;
    }
    .header__clouds {
        display: none;
    }
    .header__title {
        font-size: 60px;
    }
    .about__block {
        flex-direction: column;
      }
      .about__block--center .about__left,
      .about__block--center .about__right {
        flex-direction: column;
        width: 100%;
      }
      .about__block .cirlce {
        margin-left: 0;
        margin-right: -45px;
        order: 1;
      }
      .about__block--center .about__right .about__item:nth-child(1) .cirlce {
        order: 1;
        margin-left: 0;
        margin-right: -45px;
      }
      .about__block--center .about__left .about__item:nth-child(1),
      .about__block--center .about__right .about__item:nth-child(1) {
          margin-bottom: 10px;
      }
      .about__block--center .about__right .about__item:nth-child(1) .about__text {
        max-width: 100%;
        padding: 10px 28px 10px 68px;
        order: 2;
      }
      .about__block:nth-child(1) .about__item,
      .about__block:nth-child(3) .about__item {
        max-width: 100%;
      }
      .about__block .about__text {
        max-width: 100%;
        padding: 10px 28px 10px 68px;
        order: 2;
      }
      .about__image {
          margin-bottom: 10px;
      }
      .about__block {
          margin-bottom: 0;
      }
      .about__item {
        margin-bottom: 10px;
        max-width: 100%;
        word-break: break-word;
      }
    .header__control {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        box-shadow: none;
    }
    .header__link--blue {
        margin: 0;
        margin-bottom: 20px;
    }
    .features__image {
        max-width: 70%;
    }
    .plan__lead {
        font-size: 24px;
    }
    .plan__price {
        font-size: 31px;
    }
    .plan__element {
        min-width: 200px;
    }
    .main-form {
        margin-bottom: 40px;
    }
    .form__about {
        font-size: 40px;
    }
    .copyright {
        margin-bottom: 22px;
        font-size: 18px;
        text-align: center;
    }
    .footer__wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .company__list {
        width: 90%;
        margin: 0 auto;
    }
    .social {
        justify-content: space-evenly;
        width: 100%;
    }
    .social__item {
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    .container {
        padding: 0 15px;
    }
    .superman {
        max-width: 300px;
    }
    .header__container {
        max-width: 100%;
        padding: 0 15px;
    }
    .header {
        padding: 20px 0 30px;
        background-position: right -800px bottom -200px;
    }
    .header__title {
        padding-bottom: 20px;
        font-size: 50px;
        text-align: center;
    }
    .header__link {
        width: 100%;
    }
    .header__logo {
        width: 218px;
        margin: 0 auto;
    }
    .header__description {
        margin-bottom: 30px;
        text-align: center;
    }
    .header__description br {
        display: none;
    }
    .section__title {
        margin-bottom: 35px;
        font-size: 36px;
    }
    .cirlce {
        width: 50px;
        height: 50px;
        background-size: 23px;
      }
      .about__block .about__text {
        margin-left: 20px;
        padding: 10px 5px 10px 30px;
      }
      .about__block--center .about__left .about__item:nth-child(2) .about__text {
        margin-left: 20px;
        padding: 10px 5px 10px 30px;
      }
      .about__block--center .about__right .about__item:nth-child(1) .about__text {
        margin-left: 20px;
        padding: 10px 5px 10px 30px;
      }
    .features {
        padding-top: 50px;
        padding-bottom: 54px;
        overflow: hidden;
        background-size: 100%, 240%;
        background-position: top 31% right 40%, bottom 40px right 40%;
    }
    .features__element {
        margin-bottom: 54px;
    }
    .features__text {
        font-size: 18px;
    }
    .features__text br {
        display: none;
    }
    .features__image {
        max-width: 330px;
    }
    .features__title {
        font-size: 30px;
        text-align: center;
    }
    .features__item {
        font-size: 18px;
    }
    .features__list--pretty {
        margin-top: 44px;
    }
    .features__list--pretty .features__item {
        font-size: 18px;
        padding-left: 67px;
        margin-bottom: 10px;
    }
    .features__list--pretty .features__item::before {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
    .plan {
        margin-bottom: 0;
    }
    .plan__element {
        margin-bottom: 30px;
        width: 100%;
        max-width: 264px;
        padding: 22px;
        margin-right: 0;
    }
    .plan__lead {
        margin-bottom: 22px;
    }
    .plan__price {
        margin-bottom: 25px;
    }
    .main-form {
        margin-bottom: 65px;
        padding: 45px 23px;
        background-size: 210%;
    }
    .form__title {
        margin-bottom: 40px;
        font-size: 28px;
        text-align: center;
    }
    .form__input {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
        font-size: 18px;
    }
    .form__btn {
        margin-top: 5px;
        width: 100%;
    }
    .form__about {
        font-size: 30px;
    }
    .form__about br {
        display: none;
    }
    .contacts {
        padding: 45px 23px;
        height: auto;
    }
    .contacts__item {
        margin-right: 0;
    }
    .contacts__item:last-child {
        margin-bottom: 0;
    }
    .contacts__link {
        font-size: 18px;
    }
    .contacts__link br {
        display: none;
    }
}

/* SLIDER */
.slick-initialized .slick-slide {
    display: flex !important;
}
.slick-slide {
    height: 150px !important;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 999;
    cursor: pointer;
}

.arrow--next {
    right: -25px;
}

.arrow--prev {
    left: -25px;
}